.BoardCell {
    width: auto;
    border-radius: 6px;
    position: relative;
}

.tetromino {
    border-top: 3px solid rgba(255, 255, 255, 0.1);
    border-left: 3px solid rgba(255, 255, 255, 0.1);
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    border-right: 3px solid rgba(0, 0, 0, 0.1);
}

.tetromino .Sparkle {
    position: absolute;
    z-index: 10;
    width: 6px;
    height: 6px;
    left: -2px;
    top: -2px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4px 4px;
}

.tetromino.ghost {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.tetromino.ghost .Sparkle {
    opacity: 0;
}

.tetromino__i {
    background-color: #97edfc;
    box-shadow: 0 0 16px #0bf7ff;
}

.tetromino__j {
    background-color: #5b7eff;
    box-shadow: 0 0 16px #1F51FF;
}

.tetromino__l {
    background-color: #ffbf7e;
    box-shadow: 0 0 16px #ff790a;
}

.tetromino__o {
    background-color: #eaff8a;
    box-shadow: 0 0 16px #fbff14;
}

.tetromino__s {
    background-color: #8dfd79;
    box-shadow: 0 0 16px #0afa16;
}

.tetromino__t {
    background-color: #dc83ff;
    box-shadow: 0 0 16px #b20cff;
}

.tetromino__z {
    background-color: #fd6281;
    box-shadow: 0 0 16px #ff0808;
}