/* @import url('http://fonts.cdnfonts.com/css/tetris'); */

.Menu {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    z-index: 100;
}

.Button {
    /* font-family: 'Tetris', sans-serif; */
    padding: 40px 80px;
    font-size: 2em;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(240, 255, 255);
    box-shadow: 0 0 50px #6fffe7;
}

/* .GameTitle {
    display: flex;
    color: antiquewhite;
    background-color: antiquewhite;

} */