* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  color: #fff;
  background-color: rgb(15, 0, 22);
  height: 100vh;
  padding: 20px;
}

h1 {
  color: white;
  background-color: #fff;
}